<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<script type="text/javascript">
$(function(){
	$("#buyItem").click(function(){
		location.href="../corner/buyItem?classNum=[[${classroomCommand.classNum}]]&qty=1";
	});
	
	$("#cartBtn").click(function(){
		//장바구니에 담으려면 누구의 것인지 알기 위해서는 먼저 로그인이되어 있어야 하므로 로그인이 안되어 있다면 로그인화면이 뜨게 합니다.
		if([[session.auth == null]]){ // auth라는 로그인인증 seesion이 없다면
			window.open("/login/loginPage","login","width=315, height=200,top = 100, left=100");
		}else{
			// ajax를 사용해서 비동기식으로 전달하겠습니다.
			$.ajax({
				type:"get",
				url:"../corner/cartAdd", // 이제 cartAdd주소로 제품번호와 수량을 전달하도록합니다. 
				dataType:"text",
				// 데이터를 전달하기 위해서는 상품번호와 갯수가 있어야 합니다
				data:{"classNum" : "[[${classroomCommand.classNum}]]", "qty": 1}, 
				success:function(result){
					if(result.trim() == "200"){
						//return값이 200이면 정상적으로 저장된것이므로 장바구니로 갈지 계속 쇼핑할지 물어봅니다.
						if(confirm("계속 쇼핑하려면 '취소'를 클릭하세요.")){
							// 확인을 누르면 장바구니 페이지로 이동합니다.
							location.href="../corner/cartList"; // 장바구니로 이동하겠습니다.
						}else if(result.trim() == "999"){
							alert("관리자는 사용할 수 없는 페이지입니다.");
						}else if(result.trim() == "000"){
							alert("로그인을 해야합니다.");
						}
					}
				},
				error:function(){
					alert("관리자는 사용할 수 없는 페이지입니다.");
				}
			});
		}
	});
});

function del1(){
	var chk_arr = [];
	$("input[name='nums']:checked").each(function(){
		chk_arr.push($(this).val());
	});
	$.ajax({
		url: "cartDels",
		type: "post",
		dataType: "text",
		data: {"classNums" : chk_arr},
		success : function(result){
			if(result == "200"){
				location.reload();
			} else{
				alert("삭제되지않았습니다");
			}
		}, error: function(){
			alert("삭제할 상품을 하나 이상 선택하여 주세요");
		}
	});
}
function del(classNum){
	location.href="cartDel?classNum="+classNum;	
}
</script>
</head>
<body>
<form action="/purchase/classBuy" method="post" >
<table width="800" align="center" >
<tr><td><input type="checkbox" id="checkBoxs" checked="checked"/></td>
	<td>제품명</td><td>합계금액</td>
	<td><input type="button"  value="선택 상품 삭제" onclick="del1();"/></td>
</tr>
<tr th:each="dto: ${list}">	
	<td><input type="checkbox" name="nums" checked="checked" th:value="${dto.classroomDTO.classNum}"/></td>
	<td>[[${dto.classroomDTO.className}]]</td>
	<td><span th:id="${'t_' + dto.classroomDTO.classNum}" class="totalPrice">[[${dto.totalPrice}]]</span></td>
	<td><input type="button" value="삭제" th:attr="onclick=|del('${dto.classroomDTO.classNum}');|"/></td>
</tr>
<tr>
	<td colspan="7" align="right">
		상품수 : <span id="prodCnt">[[${list.size}]]</span>개<br />
		전체 금액 : <span id="sumPrice">[[${sumPrice}]]</span>원<br />
		
		<input type="submit" value="구매하기" />
	</td>
</tr>
</table>
</body>
</html>