<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 목록</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        h1 {
            color: #333;
        }
        div {
            margin-bottom: 20px;
        }
        a {
            color: blue;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>리뷰를 남겨주세요.</h1>
    <table border="1">
    <tr th:each="dto : ${list}">
        <td><a th:href="|reviewDetail?classNum=${dto.classNum}&reviewNum=${dto.reviewNum}|">리뷰 제목: <span th:text="${dto.reviewName}"></span></a></td>
        <td><a th:href="|reviewDetail?classNum=${dto.classNum}&reviewNum=${dto.reviewNum}|">리뷰 내용: <span th:text="${dto.reviewContents}"></span></a></td>
       	<td th:if="${session.auth.userNum} == ${dto.studentNum}"><a th:href="|reviewUpdate?classNum=${dto.classNum}&reviewNum=${dto.reviewNum}|">리뷰수정</a></td>
       	<td th:if="${session.auth.userNum} == ${dto.studentNum}"><form th:action="|reviewDelete?classNum=${dto.classNum}&reviewNum=${dto.reviewNum}|" method="post"
                          style="display: inline;">
                        <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">리뷰삭제</button>
                    </form></td>
    </tr>
    </table>
    <br />
    <a th:href="|reviewWrite?classNum=${reviewCommand.classNum}|"
       style="padding: 10px 20px; background-color: #007BFF; color: white; border-radius: 5px; text-decoration: none;">리뷰 작성하기</a>
</body>
</html>
