<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
패키지등록 페이지입니다.<br />
<form action="packageRegist" method="post" th:object="${packageCommand}">
패키지번호 :       <input type="text" name="packageNum" th:value="${packageCommand.packageNum}" readonly="readonly"/>자동부여<br />
패키지이름 :      	<input type="text" name="packageName" th:value="${packageCommand.packageName}" /><br />
패키지가격 :    	<input type="number" name="packagePrice" th:value="${packageCommand.packagePrice}" /><br />
<input type="submit" value="패키지등록" />
</form>
</body>
</html>