<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#cartBtn").click(function(){
		if([[${#strings.isEmpty(session.auth)}]]){
			alert("로그 아웃되었습니다. 다시로그인 해주세요.");
			window.open("/login","login", "width=315, height=200,top = 100, left=100");
		}else{
			$.ajax({
				type:"get",
				url:"../cartAdd",
				dataType:"text",
				data:{"packageNum" : "[[${dto.packageNum}]]"},
				success:function(result){
					
				}, error:function(){
					alert("오류");
				}
			});
		}
	});
});

</script>
</head>
<body>
패키지목록<br>
<table border=1>
<tr><td>패키지번호</td><td>패키지이름</td><td>패키지가격</td><td>결제하기</td></tr>
<tr th:each="dto : ${list}">
<td><a th:href="|packageDetail?packageNum=${dto.packageNum}|">[[${dto.packageNum}]]</a></td>
<td><a th:href="|packageDetail?packageNum=${dto.packageNum}|">[[${dto.packageName}]]</a></td>
<td><a th:href="|packageDetail?packageNum=${dto.packageNum}|">[[${dto.packagePrice}]]</a></td>
<td><button type="button" id="cartBtn">장바구니</button></td></tr>
</table>
<a th:href="packageWrite">패키지등록</a>
</body>
</html>