<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ClassInfo.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#cartBtn").click(function(){
		//장바구니에 담으려면 누구의 것인지 알기 위해서는 먼저 로그인이되어 있어야 하므로 로그인이 안되어 있다면 로그인화면이 뜨게 합니다.
		if([[${session.auth == null}]]){ // auth라는 로그인인증 seesion이 없다면
			window.open("/login/loginPage","login","width=315, height=200,top = 100, left=100");
		}else{
			// ajax를 사용해서 비동기식으로 전달하겠습니다.
			$.ajax({
				type:"get",
				url:"../corner/cartAdd", // 이제 cartAdd주소로 제품번호와 수량을 전달하도록합니다. 
				dataType:"text",
				// 데이터를 전달하기 위해서는 상품번호와 갯수가 있어야 합니다
				data:{"classNum" : "[[${classroomCommand.classNum}]]", "qty": 1}, 
				success:function(result){
					if(result.trim() == "200"){
						//return값이 200이면 정상적으로 저장된것이므로 장바구니로 갈지 계속 쇼핑할지 물어봅니다.
						if(confirm("계속 쇼핑하려면 '취소'를 클릭하세요.")){
							// 확인을 누르면 장바구니 페이지로 이동합니다.
							location.href="../corner/cartList"; // 장바구니로 이동하겠습니다.
						}else if(result.trim() == "999"){
							alert("관리자는 사용할 수 없는 페이지입니다.");
						}else if(result.trim() == "000"){
							alert("로그인을 해야합니다.");
						}
					}
				},
				error:function(){
					alert("관리자는 사용할 수 없는 페이지입니다.");
				}
			});
		}
	});
});

</script>
</head>
<body>
강의페이지입니다.<br />
강의번호 : [[${classroomCommand.classNum }]]<br />
강사번호 : [[${classroomCommand.teacherNum }]]<br />
강의명 : [[${classroomCommand.className }]]<br />
강의내용 : [[${classroomCommand.classContents }]]<br />
강의시작일 : [[${#dates.format(classroomCommand.classStartDate, 'yyyy-MM-dd') }]]<br />
강의종료일 : [[${#dates.format(classroomCommand.classEndDate, 'yyyy-MM-dd') }]]<br />
강의회차 : [[${classroomCommand.classWeek}]]<br />
강의가격 : [[${classroomCommand.classroomPrice}]]<br />
<button type="button" id="cartBtn">장바구니</button>
<a th:href="|/board/boardList?classNum=${classroomCommand.classNum}|">게시판</a>
<a th:href="|/homework/homeworkList?classNum=${classroomCommand.classNum}|">과제</a>
<a th:href="|/review/reviewList?classNum=${classroomCommand.classNum}|">후기</a><br />
<a th:href="|classUpdate?classNum=${classroomCommand.classNum}|">강의 정보 수정</a> | 
<a th:href="|classDelete?classNum=${classroomCommand.classNum}|">강의 삭제</a> |
<a href="classList">강의목록</a>
</body>
</html>






