<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ClassroomList.html</title>
</head>
<body>
강의 목록<br>
<table border=1>
<tr><td>강의번호</td><td>강의명</td><td>회차</td></tr>
<tr th:each="dto : ${list}">
<td><a th:href="|classDetail?classNum=${dto.classNum}|">[[${dto.classNum}]]</a></td>
<td><a th:href="|classDetail?classNum=${dto.classNum}|">[[${dto.className}]]</a></td>
<td><a th:href="|classDetail?classNum=${dto.classNum}|">[[${dto.classWeek}]]</a></td></tr>
</table>

<a href="classWrite">강의 개설</a>
</body>