<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
학생등록 페이지입니다.<br />
<form action="studentRegist" method="post" th:object="studentCommand">
학생번호 :        	<input type="text" name="studentNum" th:value="${studentCommand.studentNum}"/>자동부여<br />
학생아이디 :      	<input type="text" name="studentId" id="studentId" th:value="${studentCommand.studentId}"/><br />                     
학생비밀번호 :    	<input type="password" name="studentPw" th:value="${studentCommand.studentPw}"/><br />  
학생비밀번호확인 : 	<input type="password" name="studentPwCon" th:value="${studentCommand.studentPwCon}"/><br />
학생명 :         	<input type="text" name="studentName" th:value="${studentCommand.studentName}"/><br />            
학생주소 : 		<input type="text" name="studentAddr" id="sample4_roadAddress" th:value="${studentCommand.studentPost}"/>
                <button type="button" onclick="execDaumPostcode();">우편번호검색</button><br />
상세주소 : 		<input type="text" name="studentAddrDetail" th:value="${studentCommand.studentAddrDetail}"/><br />
우편번호 : 		<input type="text" name="studentPost" id="sample4_postcode" th:value="${studentCommand.studentPost}" /><br />
휴대폰 : 		    <input type="tel" name="studentPhone1" th:value="${studentCommand.studentPhone1}"/><br />            
일반전화 : 		<input type="tel" name="studentPhone2" th:value="${studentCommand.studentPhone2}"/><br />
학생생년월일 : 		<input type="date" name="studentBirth"  th:value="${studentCommand.studentBirth}"/><br />
주민등록번호 :      <input type="text" name="studentJumin" th:value="${studentCommand.studentJumin}"/><br />
학생이메일 : 		<input type="email" name="studentEmail" th:value="${studentCommand.studentEmail}"/><br />               
<input type="submit" value="학생등록" />
</form>
</body>
</html>