<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>문의 상세 페이지</h1>
	<table class="container">
		<tr>
			<td colspan="2"><h1>[[${inquireCommand.inquireNum}]]</h1></td>
		</tr>
		<tr>
			<td colspan="2"><hr></td>
		</tr>
		<tr>
			<td><span>문의제목 : [[${inquireCommand.inquireName}]]</span></td>
			<td></td>
		</tr>
		<tr>
			<td><span>카테고리 : [[${inquireCommand.inquireCategory}]]</span></td>
			<td></td>
		</tr>
		<tr th:if="${inquireCommand.studentNum != null && inquireCommand.studentNum != ''}">
			<td><span>작성자 (학생):</span></td>
			<td>[[${inquireCommand.studentNum}]]</td>
		</tr>
		<tr th:if="${inquireCommand.teacherNum != null && inquireCommand.teacherNum != ''}">
			<td><span>작성자 (선생):</span></td>
			<td>[[${inquireCommand.teacherNum}]]</td>
		</tr>
		<tr>
			<td><span>내용:</span></td>
			<td>[[${inquireCommand.inquireContents}]]</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">
				<div>
					<a th:href="|inquireUpdate?inquireNum=${inquireCommand.inquireNum}|">수정</a>
					| <a th:href="|inquireDelete?inquireNum=${inquireCommand.inquireNum}|">삭제</a>
					| <a href="boardList">글목록</a>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
</body>
</html>