<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EduLink.mapper.InquireMapper">
<sql id="inquireColumnsBase">
    inquire_num as inquireNum, student_num as studentNum, emp_num as empNum, teacher_num as teacherNum,
    inquire_name as inquireName, inquire_category as inquireCategory, inquire_date as inquireDate,
    inquire_answer as inquireAnswer, inquire_answer_date as inquireAnswerDate, inquire_contents as inquireContents
</sql>

<insert id="inquireInsert" parameterType="inquireDTO">
	insert into inquire (
		inquire_num, student_num, emp_num, teacher_num, inquire_name, inquire_category, inquire_contents, inquire_date
		)
    values (
        #{inquireNum}, #{studentNum}, #{empNum}, #{teacherNum},
        #{inquireName}, #{inquireCategory}, #{inquireContents}, sysdate
    )
</insert>

<select id="inquireSelectAll" resultType="inquireDTO">
    select <include refid="inquireColumnsBase" />
    from inquire
</select>

<select id="inquireSelectOne" parameterType="string" resultType="inquireDTO">
     select <include refid="inquireColumnsBase" />
     from inquire
     where inquire_num = #{inquireNum}
</select>

<update id="inquireUpdate" parameterType="inquireDTO">
update inquire
set	inquire_category = #{inquireCategory}
	,inquire_name = #{inquireName}
	,inquire_contents = #{inquireContents}
where inquire_num = #{inquireNum}
</update>

<delete id="inquireDelete" parameterType="string">
delete from inquire where inquire_num = #{inquireNum}
</delete>

</mapper>