<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EduLink.mapper.PackageMapper">
<sql id="packageColumnsBase">
    package_num as packageNum, student_num as studentNum, package_name as packageName, package_price as packagePrice
</sql>

<insert id="packageInsert" parameterType="packageDTO">
	insert into package (
		package_num, package_name, package_price
		)
    values (
        #{packageNum}, #{packageName}, #{packagePrice}
    )
</insert>

<select id="packageSelectAll" resultType="packageDTO">
    select <include refid="packageColumnsBase" />
    from package
</select>
</mapper>