<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EduLink.mapper.ReviewMapper">

<sql id="ReviewColumnBase">
    review_num AS reviewNum,
    class_num AS classNum,
    student_num AS studentNum,
    review_name AS reviewName,
    review_contents AS reviewContents,
    review_rate AS reviewRate,
    review_date AS reviewDate
</sql>

<select id="reviewSelectAll" parameterType="String" resultType="reviewDTO">
    SELECT <include refid="ReviewColumnBase"></include>
    FROM review
    WHERE class_num = #{classNum}
</select>

<select id="reviewSelectAllWithoutClass" parameterType="String" resultType="reviewDTO">
    SELECT <include refid="ReviewColumnBase" />
    FROM review
</select>

<insert id="reviewInsert" parameterType="ReviewDTO">
    INSERT INTO review (
        review_num,
        class_num,
        student_num,
        review_name,
        review_contents,
        review_rate,
        review_date
    )
    VALUES (
        #{reviewNum}, #{classNum}, #{studentNum}, #{reviewName},
        #{reviewContents}, #{reviewRate}, sysdate
    )
</insert>

<select id="reviewSelectOne" parameterType="map" resultType="reviewDTO">
    SELECT <include refid="ReviewColumnBase"></include>
    FROM review
    WHERE review_num = #{reviewNum}
</select>

<update id="reviewUpdate" parameterType="reviewDTO">
update review
set
	review_name = #{reviewName}
	,review_contents = #{reviewContents}
	,review_rate = #{reviewRate}
	,review_date = sysdate
where review_num = #{reviewNum}
</update>

<delete id="reviewDelete">
delete from review where review_num = #{reviewNum}

</delete>
</mapper>
