<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
관리자등록 페이지입니다.<br />
<form action="empRegist" method="post" th:object="${employeeCommand}">
관리자번호 :        	<input type="text" name="empNum" th:value="${employeeCommand.empNum}" readonly="readonly"/>자동부여<br />
관리자아이디 :      	<input type="text" name="empId" id="empId" th:value="${employeeCommand.empId}"/><br />                     
관리자비밀번호 :    	<input type="password" name="empPw" th:value="${employeeCommand.empPw}"/><br />  
관리자비밀번호확인 : 	<input type="password" name="empPwCon"/><br />
관리자명 :         	<input type="text" name="empName" th:value="${employeeCommand.empName}"/><br />            
<input type="submit" value="관리자등록" />
</form>
</body>
</html>