<!DOCTYPE html>
<html>
<head>
<title>Template33</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {
	padding: 0;
	margin: 0;
}

a, span {
	text-decoration: none;
	font-size: 16px;
	color: #666;
}

ul, li {
	list-style: none;
}

em {
	font-style: normal;
	font-weight: normal;
}

.tab_btn {
	position: relative;
	width: 400px;
}

.tab_btn a.more {
	position: absolute;
	right: 0;
	top: 13px;
	font-size: 13px;
}

.tab_btn ul {
	display: flex;
	padding-left: 0;
	margin: 0;
}

.tab_btn ul li {
	width: 120px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px 0;
	box-sizing: border-box;
	margin-left: -1px;
	transition: all 0.5s;
}

.tab_btn ul li:hover, .tab_btn ul li:active {
	background: #ddd;
}

.tab_cont {
	margin-top: -1px;
}

.tab_cont ul {
	border: 1px solid #ccc;
	width: 400px;
	padding: 15px;
	box-sizing: border-box;
	margin: 0;
}

.tab_cont ul li {
	position: relative;
	width: 400px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
}

.tab_cont ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background: #999;
}

.tab_cont ul li em a {
	margin-left: 10px;
	float: left;
	width: 64%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tab_cont ul li span a {
	float: right;
	width: 31.5%;
}

.tab_menu a {
	display: block;
	transition: all 0.5s;
}

.tab_menu a:hover {
	color: orangered;
}

.tab_menu {
	display: block;
	transition: all 0.5s;
	padding-left: 20px; /* 오른쪽으로 이동 */
}
</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(function() {
		var tab_Btn = $(".tab_btn > ul > li");
		var tab_Cont = $(".tab_cont > ul");

		tab_Cont.hide().eq(0).show();

		tab_Btn.click(function(e) {
			e.preventDefault();
			var target = $(this);
			var index = target.index();
			tab_Btn.removeClass("active");
			target.addClass("active");
			tab_Cont.hide();
			tab_Cont.eq(index).show();
		});
	});
	function redirectToDetail(button) {
		const teacherNum = button.getAttribute('data-teacherNum'); // data-teacherNum에서 teacherNum 값 읽기
		location.href = '/class/classList?teacherNum=' + teacherNum;
	}
</script>
</head>
<body>

	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-wide w3-padding w3-card">
			<!-- 로고 및 홈 링크 -->
			<a href="#home" class="w3-bar-item w3-button"><b>EduLink</b> 에듀링크</a>

			<!-- 우측 네비게이션 링크 -->
			<div class="w3-right w3-hide-small">
				<a th:if="${session.auth == null}" href="/login/loginPage"
					class="w3-bar-item w3-button">로그인</a> <a
					th:if="${session.auth != null}" href="login/logout"
					class="w3-bar-item w3-button">로그아웃</a> <a href="/class/classList"
					class="w3-bar-item w3-button">강좌</a> <a href="#about"
					class="w3-bar-item w3-button">선생님</a> <a href="#contact"
					class="w3-bar-item w3-button">문의</a>
			</div>
		</div>
	</div>

	<!-- Header -->
	<header class="w3-display-container w3-content w3-wide"
		style="max-width: 1500px;" id="home">
		<img class="w3-image" src="/w3images/architect.jpg" alt="Architecture"
			width="1500" height="800">
		<div class="w3-display-middle w3-margin-top w3-center">
			<h1 class="w3-xxlarge w3-text-white">
				<span class="w3-padding w3-black w3-opacity-min"><b>EduLink
				</b></span> <span class="w3-hide-small w3-text-light-grey">a</span>
			</h1>
		</div>
	</header>
	<br />
	<br />
	<!-- Page content -->
	<div class="w3-content w3-padding" style="max-width: 1564px">
		<H1>카테고리</H1>
		<div th:if="${session.auth != null}">
			<div th:if="${session.auth.grade == 'student'}">
				<a href="/class/classList">강의목록</a><br />
				<a href="/inquire/inquireList">문의</a><br />
				<a href="/notice/noticeList">공지사항</a><br />
				<a href="/myPage/profile">마이페이지</a><br />
				<a href="/board/stockChart">스톡</a><br />
				<a href="/corner/cartList">장바구니목록</a><br />
				<a href="/purchase/orderList">주문목록</a><br /> 
				<a href="login/logout">로그아웃</a>
			</div>
			<div th:if="${session.auth.grade == 'teacher'}">
				<a href="/class/classList">강의목록</a><br />
				<a href="/inquire/inquireList">문의</a><br />
				<a href="/notice/noticeList">공지사항</a><br />
				<a href="/myPage/profile">마이페이지</a><br />
				<a href="/board/stockChart">스톡</a><br />
				<a href="login/logout">로그아웃</a>
			</div>
			<div th:if="${session.auth.grade == 'employee'}">
				<a href="/class/classList">강의목록</a><br />
				<a href="/inquire/inquireList">문의</a><br />
				<a href="/notice/noticeList">공지사항</a><br />
				<a href="/myPage/profile">마이페이지</a><br />
				<a href="/board/stockChart">스톡</a><br />
				<a href="/employee/empList">관리자아이디리스트</a><br /> 
				<a href="/teacher/teacherList">교육자목록</a><br />
				<a href="/student/studentList">학생 목록</a><br />
				<a href="login/logout">로그아웃</a>
			</div>
		</div>
		<div th:if="${session.auth == null}">
			<a href="/class/classList">강의목록</a><br />
			<a href="/inquire/inquireList">문의</a><br />
			<a href="/notice/noticeList">공지사항</a><br />
			<a href="/login/loginPage">로그인</a><br />
		</div>


		<!-- 에듀링크 캐스트 -->
		<div class="w3-container w3-padding-32" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">에듀링크
				캐스트</h3>
			<section
				style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px;">
				<!-- YouTube Video Embed -->
				<iframe
					src="https://www.youtube.com/embed/Csjgmc2HdKE?si=9Bd_VexLS_VOE5r1"
					style="flex: 1 1 30%; aspect-ratio: 16/9; max-width: 33%;"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen> </iframe>

				<!-- Local Videos -->
				<iframe
					src="https://www.youtube.com/embed/kal1rdLV29I?si=x-cL-4Ow_BkWofn1"
					style="flex: 1 1 30%; aspect-ratio: 16/9; max-width: 33%;"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen> </iframe>
				<iframe
					src="https://www.youtube.com/embed/_CewHR0iCHY?si=J272XiHi_gLDRj9x"
					style="flex: 1 1 30%; aspect-ratio: 16/9; max-width: 33%;"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen> </iframe>
			</section>
		</div>

		<!-- 과목 -->
		<div class="w3-container w3-padding-32" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">과목
			</h3>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">주식의 이해</div>
					<img src="/w3images/house5.jpg" alt="House" style="width: 100%">
				</div>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">수학의 정석</div>
					<img src="/w3images/house2.jpg" alt="House" style="width: 100%">
				</div>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">있는 그대로의 수능 국어</div>
					<img src="/w3images/house3.jpg" alt="House" style="width: 100%">
				</div>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">점수로 직결되는 수능 실전 영어</div>
					<img src="/w3images/house4.jpg" alt="House" style="width: 100%">
				</div>
			</div>
		</div>

		<div class="w3-row-padding">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">Summer
						House</div>
					<img src="/w3images/house2.jpg" alt="House" style="width: 99%">
				</div>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">Brick
						House</div>
					<img src="/w3images/house5.jpg" alt="House" style="width: 99%">
				</div>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">Renovated</div>
					<img src="/w3images/house4.jpg" alt="House" style="width: 99%">
				</div>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<div class="w3-display-container">
					<div class="w3-display-topleft w3-black w3-padding">Barn
						House</div>
					<img src="/w3images/house3.jpg" alt="House" style="width: 99%">
				</div>
			</div>
		</div>

		<!-- 선생님 -->
		<div class="w3-container w3-padding-32" id="about">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">선생님</h3>
		</div>

		<div class="w3-row-padding"
			style="display: flex; flex-wrap: wrap; gap: 20px;">
			<!-- 테스트 -->
			<div class="w3-col" style="flex: 1 1 calc(25% - 20px); max-width: calc(25% - 20px);" th:each="dto : ${list}">
				<img th:src="|/static/upload/${dto.teacherDTO.teacherStoreImage}|"
					alt="강사이미지" style="width: 100%; height: 300px; object-fit: cover;" />
				<h3>[[${dto.teacherDTO.teacherName}]]</h3>
				<p class="w3-opacity">[[${dto.className}]]</p>
				<p>[[${dto.classContents}]]</p>
				<p>
					<button class="w3-button w3-light-grey w3-block"
						th:attr="data-teacherNum=${dto.teacherNum}"
						onclick="redirectToDetail(this)">
						<span style="text-decoration: none; color: inherit;">보기</span>
					</button>
				</p>
			</div>
		</div>
		
		<!-- 공지사항 -->
		<!-- Tab Menu Integration -->
		<div class="w3-container w3-padding-32" id="about">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">공지사항</h3>
		</div>
		<div class="tab_menu">
			<div class="tab_btn">
				<ul>
					<li class="active"><a href="#">공지사항</a></li>
					<li><a href="#">수강평</a></li>
				</ul>
				<a href="#" class="more">더보기</a>
			</div>
			<div class="tab_cont">
				<ul class="active">
					<li th:each="dto : ${list1}"><em>
						<a th:href="|notice/noticeDetail?noticeNum=${dto.noticeNum}|">[[${dto.noticeName}]]</a></em>
					<span><a th:href="|notice/noticeDetail?noticeNum=${dto.noticeNum}|">[[${#dates.format(dto.noticeDate, 'yyyy-MM-dd')}]]</a></span></li>
				</ul>
				<ul>
					<li><em><a href="#">수강평 테스트입니다. 수강평 테스트입니다.</a></em> <span><a
							href="#">[2020-08-31]</a></span></li>
					<li><em><a href="#">수강평 테스트입니다. 수강평 테스트입니다.</a></em> <span><a
							href="#">[2020-08-31]</a></span></li>
					<li><em><a href="#">수강평 테스트입니다. 수강평 테스트입니다.</a></em> <span><a
							href="#">[2020-08-31]</a></span></li>
					<li><em><a href="#">수강평 테스트입니다. 수강평 테스트입니다.</a></em> <span><a
							href="#">[2020-08-31]</a></span></li>
				</ul>
			</div>
		</div>
		
		<!--  광고 이미지 -->
		
		<!-- Contact Section 다 날리죠? -->
		<div class="w3-container w3-padding-32" id="contact">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">상담문의</h3>
			<form action="/inquire/inquireRegist" method="post"
				th:object="${inquireCommand}" target="_blank">
				<input type="hidden" name="inquireNum"
					th:value="${inquireCommand.inquireNum}" readonly="readonly" /> <input
					class="w3-input w3-border" type="text" placeholder="이름"
					name="inquireWriter" th:value="${inquireCommand.inquireWriter}">
				<input class="w3-input w3-section w3-border" type="email"
					placeholder="이메일" name="inquireEmail"
					th:value="${inquireCommand.inquireEmail}"> <input
					class="w3-input w3-section w3-border" type="text" placeholder="제목"
					name="inquireName" th:value="${inquireCommand.inquireName}">
				<input class="w3-input w3-section w3-border" type="text"
					placeholder="설명" name="inquireContents"> <select
					name="inquireCategory" class="w3-input w3-section w3-border">
					<option value="none">카테고리</option>
					<option value="select1">문의1</option>
					<option value="select2">문의2</option>
					<option value="select3">문의3</option>
				</select>
				<p>
					- 처리현황이 “답변 중”으로 표시된 문의사항은 24시간 내에 답변을 드립니다. (단 주말, 휴일 및 요금 부과기간
					제외)<br /> - 상담문의가 급증할 경우, 답변처리가 다소 지연될 수 있음을 양해 바랍니다.<br /> -
					개인정보(주민등록번호, 비밀번호, 카드번호, 전화번호 등) 를 글 내용에 포함하지 않도록 각별히 유의해주세요.<br />
					- 질문을 등록하시기 전에 자주찾는 질문을 통해 확인하시면 보다 신속하게 원하시는 정보를 확인하실 수 있습니다. <a
						href="/inquire/inquireList">자주찾는 질문</a>
				</p>
				<button class="w3-button w3-black w3-section" type="submit">
					<i class="fa fa-paper-plane"></i> 문의 등록하기
				</button>
			</form>
		</div>

	</div>


	<!-- Footer 에 프로젝트 정보 추가-->
	<footer class="w3-center w3-black w3-padding-16">
		<p>
			Powered by EduLink</a>
		</p>
	</footer>

</body>
</html>