<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
게시글등록 페이지입니다.<br />
<form action="boardWrite" method="post" th:object="${boardCommand}">
글번호 : 	<input type="text" name="boardNum" th:value="${boardCommand.boardNum}"/>자동부여<br />
강의번호 : 	<input type="text" name="classNum" th:value="${classroomCommand.classNum}" /><br />
<div th:if="${session.auth.grade == 'student'}">
작성자 :		<input type="text" name="studentNum" th:value="${session.auth.userNum}"/><br />
</div>
<div th:if="${session.auth.grade == 'teacher'}">
작성자 :		<input type="text" name="teacherNum" th:value="${session.auth.userNum}"/><br />
</div>

제목 : 		<input type="text" name="boardName" th:value="${boardCommand.boardName}"/><br />
내용 :		<textarea rows="5" cols="60" name="boardContents"></textarea><br />
<input type="submit" value="게시글등록" />
</body>
</html>